<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag allproducts.image, :class => "productImage" %>
    <div class="caption">
      <h3><%= allproducts.name %></h3>
      <p><strong>Price: $ </strong><%= allproducts.price %></p>
      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
    </div>
  </div>
</div>
